{% extends 'layouts/page.njk' %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <form id="response_form" method="post">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              {{ govukInput({
                id: "search",
                name: "search",
                value: search
              }) }}
            </div>
            <div class="govuk-grid-column-one-third">
              {{ govukButton({
                text: "Search"
              }) }}
            </div>
          </div>
        </form>
        <hr />
        {% for search in searchResults %}
          <p>
            <a href="http://gov.uk{{search.link}}">{{ search.display_type }}: {{ search.title }}</a>
            <p>
              {{ search.description }}
            </p>
          </p>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              Updated: {{ search.public_timestamp }}
            </div>
            <div class="govuk-grid-column-one-third">
              Score: {{ search.es_score }}
            </div>
          </div>
          <hr />
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
